/* 수트글꼴 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 가나글꼴 */
@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    min-width: 1450px;
    font-size: 15px;
    line-height: 25px;
    font-family: 'SUIT-Regular';
    color: #222;
}

* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

iframe,
img,
video {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

/* header */
#header {
    width: 100%;
    height: 270px;
    background: url(../images/header_bg.png) top center no-repeat;
    position: relative;
}

.header_inner1 {
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}

.header_inner1 ul {
    display: flex;
    justify-content: space-between;
}

.header_inner1 ul li {
    font-size: 18px;
    padding-right: 20px;
}

.header_inner1 ul li a {
    color: #fff
}

.header_inner1 ol {
    display: flex;
    justify-content: space-between;
}

.header_inner1 ol li {
    padding-left: 30px;
}

.header_logo {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.header_inner2 ul {
    position: absolute;
    display: flex;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.header_inner2>ul>li {
    padding: 0px 10px;
    font-size: 18px;
}

.header_inner2>ul>li>a {
    font-size: 24px;
}

.header_inner2 a {
    font-family: 'ghanachoco';
    color: #fff
}

/* sub */



.sub>li>a {

    transition: all 0.5s;
    display: block;
    font-size: 14px;
    font-weight: normal;
    background-color: #fff;
    text-align: center;
    color: #9fc9fe;
    padding: 5px 0;
    border-radius: 50px;
}

.sub>li>a:hover {
    background-color: #9fc9fe;
    color: #fff;
}

.sub {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
}

.header_inner2 ul>li {
    position: relative;
}

.header_inner2 ul>li:hover>.sub {
    opacity: 1;
    transform: scaleY(1);
    transition: all 0.5s;
}

/* banner */
#banner {
    margin: 0 auto;
    width: 1320px;
    text-align: center;
    position: relative;
}

.banner_text {
    position: absolute;
    top: -5%;
    left: 12%;
}

video {
    border-radius: 1000px 1000px 20px 20px;
    margin-top: 100px;
    margin-bottom: 30px;
}

#banner p {
    line-height: 35px;
    font-size: 25px;
}

/* container_1 */

/* container_inner_1 */
#container_1 {
    width: 100%;
    height: 2419px;
    background: url(../images/banner_bg1.png) no-repeat top center;
    margin-top: 300px;
    text-align: center;
}

#container_1 h1 {
    color: #c28bdd;
    font-family: 'ghanachoco';
    font-size: 40px;
}

.container_inner_1 {
    margin: 50px auto;
    width: 1320px;
    display: flex;
    flex-wrap: wrap;

}

.card2 {
    width: 582px;
    text-align: center;
    padding-top: 20%;
    font-size: 20px;
    line-height: 40px;
}

.card2 span {
    font-weight: 500;
    font-size: 25px;
}



/* 움직이는 텍스트 */
.animated-title {
    margin-top: 300px;
    color: #6c7ae0;
    font-size: 60px;
    font-family: 'ghanachoco';
    font-weight: 300;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-top: 150px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.animated-title .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 60s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@media (hover: hover) and (min-width: 700px) {
    .animated-title .content {
        -webkit-transform: translateY(calc(100% - 8rem));
        transform: translateY(calc(100% - 8rem));
    }
}

/* container_inner_2 */
.container_inner_2 {
    margin: 200px auto;
    display: flex;
    width: 1320px;

    justify-content: space-between;
}

.brand_logo_img2 {
    margin-top: 100px;
    width: 488px;
    height: 463px;
}

/*bg_att*/
#bg_att {
    background: url(../images/container_2_bg.png) no-repeat center top fixed;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid #ffffff 3px;
    border-bottom: solid #ffffff 3px;
}

#bg_att h1 {
    color: #ffffff;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 10px;
    line-height: 45px;
}

.filled {
    font-family: 'ghanachoco';
}

/* best */
#best {
    margin: 150px 0;
    height: 763px;
    width: 100%;
    background: url(../images/best_bg.png) no-repeat top center;
    text-align: center;
    border: #111 solid 2px;
    box-sizing: border-box;
}

#best>h1 {
    padding-top: 150px;
    padding-bottom: 20px;
    font-size: 40px;
    font-family: 'ghanachoco';
    color: #95d1eb;
}

#best>h4 {
    font-size: 18px;
    font-weight: lighter
}

#menu {
    width: 1400px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 100px;
}

.menu .swiper-slide {
    padding-top: 20px;
    text-align: center;
}


.menu .swiper-slide h3 {
    font-size: 15px;
    color: #111;
    padding-top: 20px;
}

.menu .swiper-slide p {
    font-size: 11px;
    color: #999;
}

.menu .swiper-slide p span {
    font-size: 15px;
    color: #111;
}

.note {
    padding-top: 50px;
}

.swiper-slide .pd {
    transition: all 0.5s;
}

.swiper-slide .pd:hover {
    transform: translateY(-9px);

}

/* pet_party */
#pet_party img {
    width: 100%;
}

/* review */

#review {
    padding-top: 150px;
    width: 100%;
    background: url(../images/review_bg2.png) no-repeat top center;
}

.review_inner {
    text-align: center;
}

.review_inner>h1 {
    font-family: 'ghanachoco';
    color: #c8c4e1;
    font-size: 40px;
}

.review_inner>div {

    position: relative;
    background-color: #ebebeb;
    border: #222 solid 1px;
    text-align: center;
    overflow: hidden;

}

.review_inner>div>img {
    transition: all 0.4s;
    margin-top: 60px;
}

.box_text1,
.box_text2,
.box_text3 {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    background-color: #c8c4e1be;
    width: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.4s;
    z-index: 2;
}

.review_inner>div:hover img {
    transform: translateY(-30px)
}

.box1:hover .box_text1 {
    transform: translateY(0);
}

.box2:hover .box_text2 {
    transform: translateY(0);
}

.box3:hover .box_text3 {
    transform: translateY(0);
}

.review_inner {
    width: 1320px;
    height: 1189px;
    margin: 0 auto;
    position: relative;
}

.review_inner>div {
    position: absolute;
}

.box1 {
    top: 20%;
    left: 18%;
    width: 354px;
    height: 311px;
}

.box2 {
    top: 30%;
    left: 58%;
    width: 354px;
    height: 342px;
}

.box3 {
    top: 60%;
    left: 18%;
    width: 354px;
    height: 342px;
}

/* footer */

#footer {
    background: url(../images/footer_bg.png) no-repeat top center;
    width: 100%;
    padding-top: 280px;
    padding-bottom: 30px;
}

.footer_inner {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer_text ul {
    text-align: right;
}

.footer_text ul li a {
    color: #222;
}

.footer_icon {
    padding-top: 50px;
    padding-right: 70px;
}

.footer_icon ul {
    display: flex;
}

.footer_icon ul li {
    padding: 0 5px;
}

/* top버튼 */
.top{position:fixed;
    bottom:10px;
    right:20px;
    width:50px;}
.top a{display:inline-block;
    padding:5px 15px;
    margin-bottom:5px;
    }






/* 헤더 거품 애니 */
.btn-bubble {
    display: inline-block;
    z-index: 1;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 170px;
    height: 45px;
    line-height: 41px;

    box-sizing: border-box;
    border-radius: 23px !important;
    background: transparent;


    transition: color 0.45s;


    font-weight: 500;
}


.btn-bubble .btn-bubble-inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.btn-bubble .btn-bubble-itembox {
    position: relative;
    display: block;
    height: 100%;
    -webkit-filter: url(#bubble-start);
    filter: url(#bubble-start);
}




@supports ((-webkit-filter: url("#bubble-start")) or (filter: url("#bubble-start"))) .btn-bubble .btn-bubble-item {
    -webkit-transform: translate3d(0, 150%, 0) scale(1.4);
    transform: translate3d(0, 150%, 0) scale(1.4);
}

.btn-bubble .btn-bubble-item {
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
    background: #fff;
    border-radius: 100%;
    -webkit-transform: translate3d(0, 150%, 0) scale(1.7);
    transform: translate3d(0, 150%, 0) scale(1.7);
    -webkit-transition: -webkit-transform 0.45s;
    transition: -webkit-transform 0.45s;
    transition: transform 0.45s;
    transition: transform 0.45s, -webkit-transform 0.45s;
}

.btn-bubble .btn-bubble-item:nth-of-type(1) {
    left: 0%;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.btn-bubble .btn-bubble-item:nth-of-type(2) {
    left: 30%;
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s;
}

.btn-bubble .btn-bubble-item:nth-of-type(3) {
    left: 60%;
    -webkit-transition-delay: 0.16s;
    transition-delay: 0.16s;
}

.btn-bubble .btn-bubble-item:nth-of-type(4) {
    left: 90%;
    -webkit-transition-delay: 0.24s;
    transition-delay: 0.24s;
}

.btn-bubble:hover {
    color: #9fc9fe;
}

.btn-bubble:hover .btn-bubble-item {
    transform: translateZ(0) scale(1.7);
}