/* 수트글꼴 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 가나글꼴 */
@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    min-width: 1450px;
    font-size: 15px;
    line-height: 25px;
    font-family: 'SUIT-Regular';
    color: #222;
}

* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

iframe,
img,
video {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

/* header */
#header {
    width: 100%;
    height: 270px;
    background: url(../images/header_bg.png) top center no-repeat;
    position: relative;
}

.header_inner1 {
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}

.header_inner1 ul {
    display: flex;
    justify-content: space-between;
}

.header_inner1 ul li {
    font-size: 18px;
    padding-right: 20px;
}

.header_inner1 ul li a {
    color: #fff
}

.header_inner1 ol {
    display: flex;
    justify-content: space-between;
}

.header_inner1 ol li {
    padding-left: 30px;
}

.header_logo {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.header_inner2 ul {
    position: absolute;
    display: flex;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.header_inner2>ul>li {
    padding: 0px 10px;
    font-size: 18px;
}

.header_inner2>ul>li>a {
    font-size: 24px;
}

.header_inner2 a {
    font-family: 'ghanachoco';
    color: #fff
}

/* sub */



.sub>li>a {

    transition: all 0.5s;
    display: block;
    font-size: 14px;
    font-weight: normal;
    background-color: #fff;
    text-align: center;
    color: #9fc9fe;
    padding: 5px 0;
    border-radius: 50px;
}

.sub>li>a:hover {
    background-color: #9fc9fe;
    color: #fff;
}

.sub {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
}

.header_inner2 ul>li {
    position: relative;
}

.header_inner2 ul>li:hover>.sub {
    opacity: 1;
    transform: scaleY(1);
    transition: all 0.5s;
}

/* product1 */
#product1 {
    height: 2107px;
    width: 100%;
    background: url(../images_produt/cat_dog_product.png) top center;
}



.product1_inner_title {
    font-family: 'ghanachoco';
    padding: 30px 0;
    width: 1320px;
    text-align: center;
    margin: 0 auto;
    border: solid 2px #222;
}

.product1_inner_product {
    padding-top: 100px;
    margin: 0 auto;
    width: 1320px;
}

.product1_inner_product ul {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.product1_inner_product ul li {
    background: url(../images_produt/product_green_bg.png) no-repeat center 0;
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 100px;
}

.pp_text {
    padding-top: 40px;
    text-align: center;
    display: block;
    color: #222;
    padding-bottom: 50px;
}

.heart_bt {
    position: absolute;
    top: 76%;
    left: 73%;
}

.product1_inner_product>ul>li .pp {
    transition: all 0.5s;
}

.product1_inner_product>ul>li .pp:hover {
    transform: translateY(-9px);

}

/* product2 */
#product2 {
    height: 1696px;
    width: 100%;
    background: url(../images_produt/butterfly_bg.png) top center;
    margin-bottom: 100px;
}

.product2_inner_title {
    font-family: 'ghanachoco';
    padding: 30px 0;
    width: 1320px;
    text-align: center;
    margin: 0 auto;
    border: solid 2px #222;
    display: block;
}

.product2_inner_product {

    margin: 0 auto;
    width: 1320px;
}

.product2_inner_product ul {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.product2_inner_product ul li {
    background: url(../images_produt/butterfly_product_bg.png) no-repeat center 0;
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 60px;
}

.pp2_text {
    padding-top: 40px;
    text-align: center;
    display: block;
    color: #222;
    padding-bottom: 50px;
}

.pp3_text {
    padding-top: 10px;
    text-align: center;
    display: block;
    color: #222;
    padding-bottom: 50px;
}


.heart_bt {
    position: absolute;
    top: 76%;
    left: 73%;
}

.product2_inner_product>ul>li .pp2 {
    transition: all 0.5s;
}

.product2_inner_product>ul>li .pp2:hover {
    transform: translateY(-9px);

}

/* footer */

#footer {
    background: url(../images/footer_bg.png) no-repeat top center;
    width: 100%;
    padding-top: 280px;
    padding-bottom: 30px;
}

.footer_inner {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer_text ul {
    text-align: right;
}

.footer_text ul li a {
    color: #222;
}

.footer_icon {
    padding-top: 50px;
    padding-right: 70px;
}

.footer_icon ul {
    display: flex;
}

.footer_icon ul li {
    padding: 0 5px;
} 


/* top버튼 */
.top{position:fixed;
    bottom:10px;
    right:20px;
    width:50px;}
.top a{display:inline-block;
    padding:5px 15px;
    margin-bottom:5px;
    }








/* 헤더 거품 애니 */
.btn-bubble {
    display: inline-block;
    z-index: 1;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 170px;
    height: 45px;
    line-height: 41px;

    box-sizing: border-box;
    border-radius: 23px !important;
    background: transparent;


    transition: color 0.45s;


    font-weight: 500;
}


.btn-bubble .btn-bubble-inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.btn-bubble .btn-bubble-itembox {
    position: relative;
    display: block;
    height: 100%;
    -webkit-filter: url(#bubble-start);
    filter: url(#bubble-start);
}




@supports ((-webkit-filter: url("#bubble-start")) or (filter: url("#bubble-start"))) .btn-bubble .btn-bubble-item {
    -webkit-transform: translate3d(0, 150%, 0) scale(1.4);
    transform: translate3d(0, 150%, 0) scale(1.4);
}

.btn-bubble .btn-bubble-item {
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
    background: #fff;
    border-radius: 100%;
    -webkit-transform: translate3d(0, 150%, 0) scale(1.7);
    transform: translate3d(0, 150%, 0) scale(1.7);
    -webkit-transition: -webkit-transform 0.45s;
    transition: -webkit-transform 0.45s;
    transition: transform 0.45s;
    transition: transform 0.45s, -webkit-transform 0.45s;
}

.btn-bubble .btn-bubble-item:nth-of-type(1) {
    left: 0%;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.btn-bubble .btn-bubble-item:nth-of-type(2) {
    left: 30%;
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s;
}

.btn-bubble .btn-bubble-item:nth-of-type(3) {
    left: 60%;
    -webkit-transition-delay: 0.16s;
    transition-delay: 0.16s;
}

.btn-bubble .btn-bubble-item:nth-of-type(4) {
    left: 90%;
    -webkit-transition-delay: 0.24s;
    transition-delay: 0.24s;
}

.btn-bubble:hover {
    color: #9fc9fe;
}

.btn-bubble:hover .btn-bubble-item {
    transform: translateZ(0) scale(1.7);
}